{% extends 'base.html.twig' %}
{% block title %}Mon espace{% endblock %}
{% block body %}
    <h1 style="text-align: center;">Ajouter un enfant</h1>
    <div class="container" style="margin-top: 50px">

       {{ form_start(documentForm, {action: path('add_child')})  }}
       {{ form_row(childForm.name,{label: "Nom de l'enfant"}, {class: "form-control"}) }}
        {{ form_row(documentForm.cni_parent ,{label: "CNI Parent"}, {class: "form-control"}) }}
        {{ form_row(documentForm.parent_picture_face ,{label: "Photo Parent"}, {class: "form-control"}) }}
        {{ form_row(documentForm.cni_child ,{label: "CNI Enfant"}, {class: "form-control"}) }}
        {{ form_row(documentForm.child_picture_face ,{label: "Photo Enfant"}, {class: "form-control"}) }}

        <button class="btn btn-primary" type="submit">Ajouter</button>
       {{  form_end(documentForm) }}
    </div>
{% endblock %}