{% extends 'base.html.twig' %}
{% block title %}Ajouter une Cagnotte{% endblock %}
{% block head %} <script src="https://js.stripe.com/v3/"></script> {% endblock %}
{% block body %}
    <h4>Nouvelle Cagnotte</h4>
    <div class="container">
        {{ form_start(potForm) }}
        {{ form_row(potForm.label, {label: 'Nom'}) }}
        {{ form_row(potForm.totalAmount, {label: 'Montant Max'}) }}
        {{ form_end(potForm) }}
    </div>
{% endblock %}

{% block javascript %}
{% endblock javascript %}