{% extends 'base.html.twig' %}
{% block title %}Ajouter un virement{% endblock %}
{% block head %} <script src="https://js.stripe.com/v3/"></script> {% endblock %}
{% block body %}
    <h4>Nouveau Virement</h4>
    <div class="container">
<script>

        </script>
{#        <form id="payment-form" action=""+url class="form-control">#}
{#            <input id="card-name" type="text">#}
{#            <!-- placeholder for Elements -->#}
{#            <div id="card-element"></div>#}
{#            <div id="card-errors" role="alert"></div>#}
{#            <button id="card-button" data-secret="{{ secret }}">#}
{#                Submit Payment#}
{#            </button>#}
{#        </form>#}

        {{ form_start(virementForm, {attr:{id: "payment-form" }}) }}

        <div id="card-element">
        <input type="number" class="form-control">
        </div>
        {{ form_row(virementForm.amount, {label: 'Montant', name: 'amount'}) }}
        {{ form_row(virementForm.comment, {label: 'Commentaire'}) }}
        {{ form_row(virementForm.isRecurrent, {label: 'Ce virement est récurrent'}) }}

        {{ form_end(virementForm) }}

    </div>
{% endblock %}

{% block javascript %}
<script>
var stripe = Stripe('pk_test_51H02x2Fp0I3CFkgQrkCNglAeH32Vk9s420wQ3s7EkQouTcld2arL7UMN1rVdLNykwJwYwtdOa7gtBAMoKcjs74xo00qJjHTEWT');
var elements = stripe.elements();
console.log(elements);

var style = {
    base: {
        color: "#32325d",
    }
};

var card = elements.create("card", { style: style });
card.mount("#card-element");

cardElement.on('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
        displayError.textContent = event.error.message;
    } else {
        displayError.textContent = '';
    }
});

var form = document.getElementById('payment-form');

form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    stripe.confirmCardPayment(clientSecret, {
        payment_method: {
            card: card,
            billing_details: {
                name: 'Jenny Rosen'
            }
        }
    }).then(function(result) {
        if (result.error) {
            // Show error to your customer (e.g., insufficient funds)
            console.log(result.error.message);
        } else {
            // The payment has been processed!
            if (result.paymentIntent.status === 'succeeded') {
                // Show a success message to your customer
                // There's a risk of the customer closing the window before callback
                // execution. Set up a webhook or plugin to listen for the
                // payment_intent.succeeded event that handles any business critical
                // post-payment actions.
            }
        }
    });
});
</script>
{% endblock javascript %}