{% extends 'base.html.twig' %}
{% block title %}Mon espace{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(articleForm) }}
        <button type="submit">Save</button>
        {{ form_end(articleForm) }}
    </div>
{% endblock %}