{% extends 'base.html.twig' %}
{% block title %}Mon espace{% endblock %}
{% block body %}
    <div class="container">
    <i id="previous" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
    <div class='article' style='margin-bottom: 30px;' id="{{ article.id }}">
        <div class='card'>{{ article.title }}
            <img src='{{article.picture}}' class='card-img-top' alt=''>
            <div class='card-body'>
                <p class='card-text'>{{article.content}}</p>
                <div><i id='arrowup' class='fa fa-arrow-up' aria-hidden='true'></i><p>{{ article.upCount }}</p></div>
                <div><i id='arrowdown' class='fa fa-arrow-down' aria-hidden='true'></i><p>{{ article.downCount }}</p></div>

                {% if app.user %}
                    <form id='commentForm' method='post' data-article="{{ article.id }}">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-8">
                                    <input id="content" class="form-control" placeholder='Ecrire ...' type='text' name='content'/>
                                </div>
                                <div class="col-4">
                                    <input id='submit_comment' type='submit' class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
                <div id="comment"></div>
            </div>
        </div>
    </div>
    <script>

        //Premier affichage
        var url = '/article/'+ $("#commentForm").data('article') +'/comments';
        console.log(url);
        $.get(url, function (data) {
            for(let i= 0; i < data.length; i++){
                $("#comment").append("<li class='list-group-item'><p class='username' id='"+ data[i].id+"' {% if app.user %} data-user='{{ app.user.username }}' {% endif %}><img src='"+ data[i].author.picture +"' heigth='250' width='250'>"+ data[i].author.username +"</p> - "+data[i].content+ " - " + formatDate(data[i].posted_at) +
                    "</li>");

                if($("p.username").data('user') === $($('p.username')[i]).text()){
                    $($("p.username")[i]).parent().append("<button class='deleteComment btn btn-primary'>Supprimer</button>")
                }

            }
        });


        $(document).ready(function(){

            /** Validate form **/

            $("#commentForm").validate({
                rules: {
                    content:{
                        required: true,
                        maxlength: 255
                    },
                },
                messages: {
                    content: "Le commentaire ne peut pas être vide"
                },
                submitHandler: function(form, event){
                    console.log('submit');
                    console.log($(form));
                    event.preventDefault(); // avoid to execute the actual submit of the form.
                    // //var form = $(this);
                    var url = Routing.generate('comment_post',{
                        'article_id': $('#commentForm').data('article')
                    });

                    // ajoute un commentaire
                    $.ajax({
                        type: "POST",
                        url: url,
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        processData: false,
                        data: JSON.stringify($(form).serialize()), // serializes the form's elements.
                    }).done(function(){
                        var url = '/article/'+ $("#commentForm").data('article') +'/comments';
                        console.log(url);
                        $("#comment").children().remove();
                        /** remove text in comment form */
                        $(form).find('input[name=content]').val("");
                        $.get(url, function (data){
                            for(let i= 0; i < data.length; i++){
                                $("#comment").append("<li><p class='username' id='"+ data[i].id+"' {% if app.user %} data-user='{{ app.user.username }}' {% endif %}><img src='"+ data[i].author.picture +"' heigth=25 width=25>"+ data[i].author.username +"</p> - "+data[i].content+ " - " + formatDate(data[i].posted_at) +
                                    "</li>");
                                console.log($('p.username').text());
                                if($("p.username").data('user') === $($('p.username')[i]).text()){
                                    $($("p.username")[i]).parent().append("<button class='deleteComment btn btn-primary'  >Supprimer</button>")
                                }
                            }
                        });
                    });
                },
            });


            /** verifie l'association article_user in db **/
            $.ajax({
                type: "POST",
                url: "/article/"+ $(".article").attr('id') +"/user",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function(data){
                    console.log(data)
                }
            });

        });

        $(document).ajaxComplete(function() {

            $(".deleteComment").click(function () {
                var id = $(this).parent().children('.username').attr('id');
                var deleteCommentUrl = Routing.generate('delete_comment', {
                    "article_id": $(".article").attr('id'),
                    'comment_id': id
                });
                $.ajax({
                    type: "POST",
                    url: deleteCommentUrl,
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(data)
                        $("#comment").children().remove();
                        console.log(data)
                        for (let i = 0; i < data.length; i++) {
                            $("#comment").append("<li><p class='username' id='" + data[i].id + "' {% if app.user %} data-user='{{ app.user.username }}' {% endif %}>" + data[i].author.username + "</p> - " + data[i].content + " - " + formatDate(data[i].posted_at) +
                                "<div><i class=\"fa fa-arrow-up\" aria-hidden=\"true\"></i></div>" +
                                "<div><i class=\"fa fa-arrow-down\" aria-hidden=\"true\"></i></div>" +
                                "</li>");
                            if($("p.username").data('user') === $($('p.username')[i]).text()){
                                $($("p.username")[i]).parent().append("<button class='deleteComment'>Supprimer</button>")
                            }
                        }
                    }

                });
            });
        });

        $("#arrowup").click(function(){

            console.log('click ajax up');
            $.ajax({
                url: '/article/'+$(".article").attr('id')+'/arrowup',
                type: 'POST',
                success: function(data){
                    console.log(data);
                    $("#arrowup").parent().children('p').text(data.up_count);
                    $("#arrowdown").parent().children('p').text(data.down_count);
                }
            });
        });


        $("#arrowdown").click(function(){

            console.log('click ajax down');
            $.ajax({
                url: '/article/'+$(".article").attr('id')+'/arrowdown',
                type: 'POST',
                success: function(data){
                    console.log(data);
                    $("#arrowdown").parent().children('p').text(data.down_count);
                    $("#arrowup").parent().children('p').text(data.up_count);
                }
            });
        });

        $("#previous").click(function(){
            location.href = document.referrer;
        });

        function formatDate(datetime) {
            console.log('test');
            var unFormatedDate = datetime.split("T");
            var date =  unFormatedDate[0];
            var formattedDate = new Date(date).toLocaleDateString();
            var unformatedHeure = unFormatedDate[1];
            var formatedHeure = unformatedHeure.split('+')[0];
            console.log(formatedHeure);
            console.log(formattedDate);

            return formattedDate + " à " + formatedHeure;
        }

    </script>
{% endblock %}