{% extends 'base.html.twig' %}
{% block title %}Mon compte | Mes infos{% endblock %}
{% block body %}
    <h4 style="text-align:center;">Changement de mot de passe</h4>
    <div class="container">

        {{ form_start(changePasswordForm, {'action': path('change_password', {'user_id': app.user.id })}) }}
        {{ form_label(changePasswordForm.password, 'Mot de passe') }}
        {{ form_widget(changePasswordForm.password) }}
        {{ form_label(changePasswordForm.new_password, 'Nouveau mot de passe') }}
        {{ form_widget(changePasswordForm.new_password) }}
        {{ form_label(changePasswordForm.password_confirm, 'Confirmer le mot de passe') }}
        {{ form_widget(changePasswordForm.password_confirm) }}
        <input type="submit" class="btn btn-primary"></input>
        {{ form_end(changePasswordForm) }}

        {#            <form action= "{{ path('change_password', {'user_id': app.user.id}) }}" method= "post">#}
        {#                <div class="form-group row">#}
        {#                    <label>Ancien Mot de passe</label>#}
        {#                    <input type= "password" class="form-control"/>#}
        {#                </div>#}
        {#                <div class="form-group row">#}
        {#                    <label>Nouveau mot de passe</label>#}
        {#                    <input type= "password" class="form-control"/>#}
        {#                </div>#}
        {#                <div class="form-group row">#}
        {#                    <label>Confirmer le mot de passe</label>#}
        {#                    <input type= "password" class="form-control"/>#}
        {#                </div>#}
        {#                <button type="submit" class="btn btn-primary">Modifier</button>#}
        {#            </form>#}
    </div>
    </div>
{% endblock body %}

