{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                {% for categoryName in categoryNames %}
                    <option value="{{ categoryName.id }}">{{ categoryName.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <script>
        var selectedOption = false;
        console.log(selectedOption);
        $("#inputGroupSelect01").change(function(){
            selectedOption = true;
            var selectedOption = $(this).children('option:selected').val(); // id de la category
            $('.article').remove();
            $.get('/articles/tag/'+selectedOption, function(data){
                console.log(data);
                for(let i=0;i<data.length; i++){
                    var urlPostComment = Routing.generate('comment_post', {
                        'article_id': data[i].id
                    });
                    console.log()
                    if(data[i].article_approval.status === "Validate" || typeof(data[i].article_approval) === "undefined") {

                        $('div.container').append(" <div class=\"article\" style='margin-bottom: 30px;'>\n" +
                            "        <div class=\"card\">\n" +
                            data[i].title +
                            "            <img src=\"" + data[i].picture + "\" class=\"card-img-top\" alt=\"\">\n" +
                            "            <div class=\"card-body\">\n" +
                            "                <p class=\"card-text\">" + truncateContent(data[i]) + "</p>\n" +
                            "<div><i class=\"fa fa-arrow-up\" aria-hidden=\"true\"></i>&nbsp" + data[i].up_count + "</div>" +
                            "<div><i class=\"fa fa-arrow-down\" aria-hidden=\"true\"></i>&nbsp" + data[i].down_count + "</div>" +
                            "        </div>\n" +
                            "    </div>")
                        for (let j = 0; j < data[i].comments.length; j++) {
                            $("#comment").append("<li><p class='username' id='" + data[i].comments[j].id + "' {% if app.user %} data-user='{{ app.user.username }}' {% endif %}>" + data[i].comments[j].author.username + "</p> - " + data[i].comments[j].content + " - " + data[i].comments[j].posted_at +
                                "<div><i class=\"fa fa-arrow-up\" aria-hidden=\"true\"></i>&nbsp" + data[i].up_count + "</div>" +
                                "<div><i class=\"fa fa-arrow-down\" aria-hidden=\"true\"></i>&nbsp" + data[i].down_count + "</div>" +
                                "</li>")
                        }
                    }
                }
            }).done(function(){
                if($("p.username").data("user") === $("p.username").text()){
                    $("p.username").parent().append("<button class='deleteComment'>Supprimer</button>");
                }
            });
        });

        //envoie tout les articles si la category n'est pas selectionnée
        if(!selectedOption) {
            $('.article').remove();
            $.get('/articles', function (data) {
                console.log(data);
                for (let i = 0; i < data.length; i++) {
                    if (typeof (data[i].article_approval) === "undefined" || data[i].article_approval.status === "Validate") {
                        $('div.container').append(" <div class=\"article\" style='margin-bottom: 30px;'>\n" +
                            "        <div class=\"card\">\n" +
                            data[i].title +
                            "            <img src=\"" + data[i].picture + "\" class=\"card-img-top\" alt=\"\">\n" +
                            "            <div class=\"card-body\">\n" +
                            "                <p class=\"card-text\">" + truncateContent(data[i]) + "</p>\n" +
                            "<div><a><i class=\"fa fa-arrow-up\" aria-hidden=\"true\"></i></a>&nbsp" + data[i].up_count + "</div>" +
                            "<div><a><i class=\"fa fa-arrow-down\" aria-hidden=\"true\"></i></a>&nbsp" + data[i].down_count + "</div>" +
                            "</div>\n" +
                            "</div>")
                    }
                }
            });
        }

        $(document).ajaxComplete(function() {

            $(".deleteComment").click(function(){
                var id = $(this).parent().children('.username').attr('id');


                var deleteCommentUrl = Routing.generate('delete_comment', {
                    'id': id
                });

                $.ajax({
                    type: "POST",
                    url: deleteCommentUrl,
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                });
            });
        });

        // /** au click sur "Voir plus" => verifie la relation article_user **/
        // $("#article_show").click(function(){
        //
        //     var pre_url = $(this).attr('href');
        //
        //     $.ajax({
        //         type: "POST",
        //         url: pre_url+'/user',
        //         dataType: "json",
        //         contentType: 'application/json; charset=utf-8',
        //         success: function(data){
        //             console.log(data)
        //         }
        //     });
        //
        // });

        function truncateContent(data){
            var url = Routing.generate('article_show', {
                'id': data.id
            });
            if(data.content.length > 150){
                var sub = data.content.substring(0, 150);
                sub += "...&nbsp<a class=\"btn btn-primary\" id=\"article_show\" href='"+ url +"' data-transition=\"slide\">Voir plus</a>";

            }else{
                var sub = data.content;
                sub += "&nbsp<a class=\"btn btn-primary\" href=\""+url+"\" data-transition=\"slide\">Accèder à l'article</a>"
            }
            return sub;
        }

    </script>
{% endblock %}
{% block javascript %}
{% endblock javascript %}