{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    <div class="container">
        <img src="{{ asset('img/logo.jpg') }}" style="display: block; margin-left: auto; margin-right: auto;">

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messagedata, 'security')}}
            </div>
        {% endif %}
        <div class="dropdown from-group">
            <div class="row tab_login">
                <label class="dropdown-toggle1" data-toggle="dropdown">Connectez-vous
                    <i class="fa fa-caret-down" aria-hidden="true"></i></label>
            </div>

            <ul class="dropdown-menu1 list-group form-group">
                <form action= "{{ path('security_login') }}" method= "post" name="user_login">
                    <div class="form-group row">
                        <label>e-mail</label>
                        <input type= "text" id= "username" name= "_username" class="username form-control" value="{{ lastUsername }}" />
                    </div>
                    <div class="form-group row">
                        <div>mot de passe</div>
                        <input type= "password" id= "password" class= "password form-control" name= "_password" />
                    </div>
                    <a href="{{ path('security_registration') }}"><p>Pas encore inscrit ?</p></a>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </form>
            </ul>
            <div class="row tab_login">
                <label class="dropdown-toggle2" type="button" data-toggle="dropdown">En tant que visiteur
                    <i class="fa fa-caret-down" aria-hidden="true"></i></label>
            </div>

            <ul class="dropdown-menu2 list-group" style="display: none">
                <form action= "{{ path('security_login_visitor') }}" method= "post">
                    <div style="margin: auto">
                        {{ form_start(visitorForm) }}

                        <div class="form-group row">
                            {{ form_label(visitorForm, 'prénom', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(visitorForm.firstname) }}
                        </div>

                        <div class="form-group row">
                            {{ form_label(visitorForm, 'nom', {'label_attr':{'class': ''}}) }}
                            {{ form_widget(visitorForm.lastname) }}
                        </div>
                        <div class="form-group row">
                            {{ form_label(visitorForm, 'e-mail', {'label_attr':{'class': ''}}) }}
                            {{ form_widget(visitorForm.email) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Connexion</button>
                        {{ form_end(visitorForm) }}
                    </div>
                </form>
            </ul>
            <div class="row tab_login">
                <label class="dropdown-toggle3" type="button" data-toggle="dropdown">Prendre un rendez-vous
                    <i class="fa fa-caret-down" aria-hidden="true"></i></label>
            </div>
            <ul class="dropdown-menu3 list-group" style="display: none">
                <form action="{{ path("create_appointment") }}" method="post">
                    {{ form_start(appointmentForm) }}

                    <div class="form-group row">
                        {{ form_label(appointmentForm, 'nom', {'label_attr':{'class': ''}}) }}
                        {{ form_widget(appointmentForm.name) }}
                    </div>
                    <div class="form-group row">
                        {{ form_label(appointmentForm, 'prénom', {'label_attr':{'class': ''}}) }}
                        {{ form_widget(appointmentForm.firstname) }}
                    </div>
                    <div class="form-group row">
                        {{ form_label(appointmentForm, 'e-mail', {'label_attr':{'class': ''}}) }}
                        {{ form_widget(appointmentForm.email) }}
                    </div>
                    <div class="form-group row">
                        {{ form_label(appointmentForm, 'date', {'label_attr':{'class': ''}}) }}
                        {{ form_widget(appointmentForm.date) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Prendre RDV</button>

                    {{ form_end(appointmentForm) }}
                </form>

                {#                <form action="{{ path("create_appointement") }}" method="post">#}
                {#                    <li class="list-group-item"><input type="date" name="date" class="form-control"/></li>#}
                {#                    <li class="list-group-item"><input type="text" name="name" class="form-control" placeholder="Nom"/></li>#}
                {#                    <li class="list-group-item"><input type="text" name="firstname" class="form-control" placeholder="Prénom"/></li>#}
                {#                    <li class="list-group-item"><input type="text" name="email" class="form-control" placeholder="e-mail"/></li>#}
                {#                    <button type="submit" class="btn btn-primary">Prendre RDV</button>#}
                {#                </form>#}
            </ul>

            </form>
        </div>
    </div>

    <script>
        $(".dropdown-toggle1").on('click', function(){
            $(".dropdown-menu1").toggle("slow");
        });
        $(".dropdown-toggle2").on('click', function(){
            $(".dropdown-menu2").toggle("slow");
        });
        $(".dropdown-toggle3").on('click', function(){
            $(".dropdown-menu3").toggle("slow");
        });
    </script>
{% endblock %}

