{% extends 'base.html.twig' %}
{% block title %}Mon espace{% endblock %}
{% block body %}
    <div class="container">
    <h1 style="text-align: center;margin-top: 20px;">Mon Espace</h1>
    {% if children %}
        <div class="row" style="margin-top: 50px;">
            {% for child in children %}
                <div class="col-{{ 12/loop.length }}">
                    <div class="card" style="margin-top: 20px">
                        <div class="card-header">
                            {{ loop.index }} | {{ child.name }}
                        </div>
                        <div class="card-body child-{{ loop.index }}">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary btn-{{ loop.index }}" onclick="selectChild({{ loop.index }}, {{ child.id }})">Voir enfant</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div style="text-align: center">
            Vous n'avez pas encore ajouté d'enfant :( ...
            <a class="btn btn-primary" href="{{ path('add_child') }}">Ajouter un enfant</a>
        </div>
    {% endif %}

    <div class="container" style="margin-top: 50px;">

        <div id="weedz_count">

        </div>

        <div class="card ui-widget-content" style="margin-top: 20px" id="card_virement">
            <div class="card-header">
                Virements
            </div>
            <div class="card-body">
                <ul id="virements" class="list-group list-group-flush"></ul>
            </div>
        </div>

        <div class="card" style="margin-top: 20px">
            <div class="card-header">
                Cagnottes
            </div>
            <div class="card-body pot">
            </div>
        </div>

        <div class="card" style="margin-top: 20px">
            <div class="card-header">
                Les derniers articles
            </div>
            <div class="card-body">
                <ul id="articles" class="list-group"></ul>
                <script>
                    $.get( "{{ path('last_articles') }}", function( data ) {
                        console.log(data);
                        for(let i=0; i<data.length; i++) {
                            $("#articles").append("<li id="+data[i].id+" class='last_article list-group-item'>\""+ data[i].title +"\" par "+ data[i].author.username +"</li><br>");
                        }
                    });
                </script>
                <a href="{{ path('feed') }}" class="btn btn-primary">Afficher tout les articles</a>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function(){
            if(sessionStorage['currentChild'] && sessionStorage['currentChildIndex']){
                console.log(sessionStorage);
                selectChild(sessionStorage['currentChildIndex'], sessionStorage['currentChild']);
            }
        });

        function selectChild(index, child_id) {

            $(".card-body").css('background', 'none');
            $(".card-body.child-" + index).css('background', '#006a4e');
            $(".btn.btn-primary" + index).attr('disabled', 'disabled');

            $('.virement-row').remove();
            $("#virements").children().remove();
            if (typeof (child_id) !== "undefined") {
                // $.get("/virement/"+child_id, function (data) {
                //     console.log(data);
                //     if(data.length === 0){
                //         var url = Routing.generate('add_virement', {
                //             'child_id': child_id
                //         });
                //         $("#virements").append("<li class='virement-row'><p>Vous n'avez pas de virement pour cet enfant</p></li>")
                //     }else {
                //         for (let i = 0; i < data.length; i++) {
                //             $("#virements").append("<li class='list-group-item virement-row'>" +
                //                 data[i].amount +
                //                 "€ - par " +
                //                 data[i].sender +
                //                 " le " +
                //                 data[i].date +
                //                 "</li>");
                //         }
                //     }
                //     $("#virements").append("<a href='"+url+"' class='btn btn-primary'>Ajouter un virement</a>");
                //
                //     $.get("/child/"+child_id+"/weedz", function(data){
                //         console.log(data);
                //         $('#weedz_count').append("<p>Nombre de weedz : "+ data +"</p>")
                //     });
                // });

                $.get("/child/" + child_id + "/weedz", function (data) {
                    console.log('onéla');
                    console.log(data);
                    var dateTimeParts = data.last_collect.split('T');
                    var dateParts = dateTimeParts[0].split('-');
                    var splitParts = dateTimeParts[1].split('+');
                    var timeParts = splitParts[0].split(':');
                    var date = new Date(dateParts[0], parseInt(dateParts[1], 10) - 1, dateParts[2], timeParts[0], timeParts[1], timeParts[2]);
                    var timestamp = date.getTime();
                    var current_time = Date.now();
                    var timestamp_diff = current_time - timestamp;
                    var beforeCollect = Math.round(timestamp_diff / 120000) - 60; // 1 weedz gagné tout les deux minutes
                    if(beforeCollect > 500){
                        beforeCollect = 500;
                    }
                    $("#weedz_count").children().remove();
                    $("#weedz_count").append("<img style='margin:auto;' src='/img/monster1.PNG'>")
                    $('#weedz_count').append("<p>Nombre de weedz : " + data.total_count + "</p>")
                    $('#weedz_count').append("<p>" + beforeCollect + " weedz non collecté !</p>")
                    $('#weedz_count').append("<input type='hidden' id='beforeCollect' value='" + beforeCollect + "'/>");
                    $('#weedz_count').append("<button id=\"collect_weedz\" class=\"btn btn-primary\">Collecter mes weedz</button>")
                });
            }

            $(document).ajaxComplete(function() {
                console.log('ajax compl');
                $("#collect_weedz").click(function () {
                    console.log('click');
                    var url = Routing.generate('weedz_collect', {
                        'child_id': child_id
                    });

                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: $('#beforeCollect').val(),
                        success: function (data) {
                            $('#weedz_count').children().remove();
                            $("#weedz_count").append("<img style='margin:auto;' src='/img/monster1.PNG'>")
                            $('#weedz_count').append("<p>Nombre de weedz : " + data + "</p>")
                        }
                    });
                });


                $(".last_article").click(function(){
                    var redirectArticleUrl = Routing.generate('article_show', {
                        'id': $(this).attr('id')
                    });
                    window.location = window.location.origin + redirectArticleUrl;
                });


                $(".delete-pot").click(function () {
                    console.log(this);
                    var pot_id = $(this).attr("id");
                    var url = Routing.generate('delete_pot', {
                        'child_id': sessionStorage['currentChild'],
                        'pot_id': pot_id,
                    });

                    $.ajax({
                        method: 'POST',
                        url: url,
                        data: pot_id,
                        success: function(data){
                            console.log(data);
                            $(".card-body.pot").children().remove();
                            for(let i; i<data.length; i++) {
                                $(".card-body.pot").append("<div class=\"row pot\">\n" +
                                    "                    <div class=\"col-6\">\n" +
                                    "                        <div class=\"card\" style=\"margin-top: 20px\">\n" +
                                    "                            <div class=\"card-header pot\">\n" +
                                    data[i].label + "<i class=\"fa fa-times delete-pot\" id=" + data[i].id + " aria-hidden=\"true\"></i>\n" +
                                    "                            </div>\n" +
                                    "                            <div class=\"card-body\">\n" +
                                    "                                <div class=\"progress\">\n" +
                                    "                                    <div class=\"progress-bar\" role=\"progressbar\" style=\"width:" + data[i].total_amount / data[i].current_amount + ";\" aria-valuenow=\"" + data[i].current_amount + "\" aria-valuemin=\"0\" aria-valuemax=\"" + data[i].total_amount + "\">" + (Math.round((data[i].total_amount / data[i].current_amount) * 100) / 100).toFixed(2) + "%</div>\n" +
                                    "                               </div>\n" +
                                    "                            <a class='btn btn-secondary' href='" + paymentUrl + "'>Approvisionner</a>" +
                                    "                            </div>\n" +
                                    "                        </div>\n" +
                                    "                    </div>\n" +
                                    "                </div>");
                            }
                            $(".card-body.pot").append("<a href='" + url + "' class='btn btn-primary'>Ajouter une Cagnotte</a>")
                        }
                    });
                });
            });

                $('.card-body.pot').children().remove();
                if (typeof (child_id) !== "undefined") {
                    $.get("/pots/" + child_id, function (data) {
                        console.log(data);
                        var url = Routing.generate('add_pot', {
                            'child_id': child_id
                        });
                        if (data.length === 0) {
                            $(".card-body.pot").append("<div class='row pot'><p>Vous n'avez pas de cagnotte pour cet enfant</p></div>");
                        } else {
                            for (let i = 0; i < data.length; i++) {
                                var paymentUrl = Routing.generate('payment', {
                                    'child_id': child_id,
                                    'pot_id': data[i].id
                                });
                                var cashInUrl = Routing.generate('cash_in', {
                                    'child_id': child_id,
                                    'pot_id': data[i].id
                                });
                                console.log(paymentUrl);
                                var progressWidth = 0;
                                var progressPercent = 0;
                                if(data[i].current_amount != 0){
                                    progressPercent = (Math.round((data[i].current_amount / data[i].total_amount) * 100)).toFixed(2);
                                }

                                if(data[i].total_amount != data[i].current_amount){
                                $(".card-body.pot").append("<div class=\"row pot\">\n" +
                                    "                    <div class=\"col-6\">\n" +
                                    "                        <div class=\"card\" style=\"margin-top: 20px\">\n" +
                                    "                            <div class=\"card-header pot\">\n" +
                                    data[i].label + "<i class=\"fa fa-times delete-pot\" id=" + data[i].id + " aria-hidden=\"true\"></i>"+
                                    "                            </div>\n" +
                                    "                            <div class=\"card-body\">\n" +
                                    "                                <div class=\"progress\">\n" +
                                    "                                    <div class=\"progress-bar\" role=\"progressbar\" style=\"width:"+ progressPercent +"%;\" aria-valuenow=\"" + data[i].current_amount + "\" aria-valuemin=\"0\" aria-valuemax=\"" + data[i].total_amount + "\">"+ progressPercent + "%</div>\n" +
                                    "                               </div>\n" +
                                    "                            <a class='btn btn-secondary' href='" + paymentUrl + "'>Approvisionner</a>" +
                                    "                            </div>\n" +
                                    "                        </div>\n" +
                                    "                    </div>\n" +
                                    "                </div>");
                            }else{
                                    $(".card-body.pot").append("<div class=\"row pot\">\n" +
                                        "                    <div class=\"col-6\">\n" +
                                        "                        <div class=\"card\" style=\"margin-top: 20px\">\n" +
                                        "                            <div class=\"card-header pot\">\n" +
                                        data[i].label + "<i class=\"fa fa-times delete-pot\" id=" + data[i].id + " aria-hidden=\"true\"></i>"+
                                        "                            </div>\n" +
                                        "                            <div class=\"card-body\">\n" +
                                        "                                <div class=\"progress\">\n" +
                                        "                                    <div class=\"progress-bar\" role=\"progressbar\" style=\"width:"+ progressPercent +"%;\" aria-valuenow=\"" + data[i].current_amount + "\" aria-valuemin=\"0\" aria-valuemax=\"" + data[i].total_amount + "\">"+ progressPercent + "%</div>\n" +
                                        "                               </div>\n" +
                                        "                            <a class='btn btn-secondary' href='" + cashInUrl + "'>Récupérer un bon</a>" +
                                        "                            </div>\n" +
                                        "                        </div>\n" +
                                        "                    </div>\n" +
                                        "                </div>");
                                }
                        }
                        }

                        $(".card-body.pot").append("<a href='" + url + "' class='btn btn-primary'>Ajouter une Cagnotte</a>")
                    });
                }
                sessionStorage['currentChild'] = child_id;
                sessionStorage['currentChildIndex'] = index;
            }
    </script>
{% endblock %}