{% extends 'base.html.twig' %}
{% block title %}Payment{% endblock %}
{% block body %}
<div class="container">
    <h1 style="text-align: center;">Payment</h1>
    {{ form_start(form, {attr: {id: form.vars.id}}) }}
    <div class="form-container">
        <div class="form-group">
            {{ form_row(form.pot, {label: "Cagnotte"}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.amount, {label: "Montant (€)", attr: {placeholder: "42.00 €", max: max_amount}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.comment, {label: "Commentaire"}) }}
        </div>
        <div class="from-group">
            <label for="card-element">
                Carte de crédit
            </label>
            <div id="card-element" class="form-control"></div>
            <div id="card-errors" class="help-block" role="alert"></div>
        </div>
        <div class="form-group">
            {{ form_row(form.token) }}
        </div>
        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>


<script type="text/javascript">
    var form = document.getElementById('{{ form.vars.id }}');
    var errors = document.getElementById('card-errors');

    var stripe = Stripe('{{ stripe_public_key }}');
    var elements = stripe.elements();
    var card = elements.create('card');

    card.mount('#card-element');
    card.addEventListener('change', function(event) {
        if (event.error) {
            errors.textContent = event.error.message;
            form.classList.add('has-error');
        } else {
            errors.textContent = '';
            form.classList.remove('has-error');
        }
    });

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                errors.textContent = result.error.message;
                form.classList.add('has-error');
            } else {
                document.getElementById('{{ form.children.token.vars.id }}').setAttribute('value', result.token.id);
                form.submit();
            }
        });
    });
</script>
{% endblock body %}