{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    <div class="container">
        <h1>Inscription</h1>
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">Formulaire d'inscription</h5>
                <form action="{{ path('security_registration') }}" method="post">
                    {{ form_start(registrationForm) }}
                    {{ form_label(registrationForm.email, 'e-mail', {'label_attr': {'class': 'col-form-label col-sm-8 required'}}) }}
                    {{ form_widget(registrationForm.email) }}
{#                    {{ form_row(registrationForm.email, {class: 'form-control', label: 'Email'}) }}#}
                    {{ form_label(registrationForm.username, 'pseudo', {'label_attr': {'class': 'col-form-label col-sm-4 required'}}) }}
                    {{ form_widget(registrationForm.username, {class: 'form-control'}) }}

                    {{ form_label(registrationForm.picture, 'photo de profil', {'label_attr': {'class': 'col-form-label col-sm-6 required'}}) }}
                    {{ form_widget(registrationForm.picture, {class: 'form-control', label: 'Picture'}) }}

                    {{ form_label(registrationForm.password, 'mot de passe', {'label_attr': {'class': 'col-form-label col-sm-6 required'}}) }}
                    {{ form_widget(registrationForm.password, {class: 'form-control', label: "Mot de passe"}) }}

                    {{ form_label(registrationForm.password_confirm_registration, 'confirmer le mot de passe', {'label_attr': {'class': 'col-form-label col-sm-8 required'}}) }}
                    {{ form_widget(registrationForm.password_confirm_registration) }}

                    {{ form_label(registrationForm.isAdmin) }}
                    {{ form_widget(registrationForm.isAdmin, {class: 'form-control'}) }}
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}