<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>

<body>
<div class="container">
    <div id="content" class="container-trigger container-tunnel-step">
        <div class="has-slider-step-page">
            <span class="skip-tuto" onclick="setCookie()">Passer</span>
            <div class="homepage-cover slider-step-page">
                <div class="step1 slider-element-step-page ">
                    <div class="logo-content">
                        <img class="logo" src="{{ asset('img/logo.jpg')}}"/>
                    </div>
                    <h2>Bienvenue</h2>
                    <p>Vous êtes arrivé sur notre plateforme, Bankidz !</p>
                </div>
                <div class="step2 slider-element-step-page ">
                    <div class="iphone">
                        <img class="iphone" src="{{ asset('img/iphone.png') }}"/>
                    </div>
                    <h2>Bienvenue</h2>
                    <p>Vous êtes arrivé sur notre plateforme, Bankidz !</p>
                </div>
                <div class="step3 slider-element-step-page ">
                    <div class="iphone">
                        <img class="iphone" src="{{ asset('img/iphone.png') }}"/>
                    </div>
                    <h2>Bienvenue</h2>
                    <p>Vous êtes arrivé sur notre plateforme, Bankidz !</p>
                </div>
                <div class="step4 slider-element-step-page ">
                    <div class="iphone">
                        <img class="iphone" src="{{ asset('img/iphone.png') }}"/>
                    </div>
                    <h2>Bienvenue</h2>
                    <p>Vous êtes arrivé sur notre plateforme, Bankidz !</p>
                </div>
            </div>
            <span class="back-button">Précédent</span>
            <div class='slider-pagination-step-page'></div>
            <span class="next-button">Suivant</span>
        </div>
    </div>
</div>
</body>
<script>
   function setCookie(){
        $.cookie("tutoriel", "tutoriel", { expires: 30});
        window.location = window.location.href+'login';
    }
</script>
<script type="text/javascript" src="{{ asset('js/hammer.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/swipe-img.js') }}"></script>
</html>

{#    <style>#}
{#        #carrousel{#}
{#            position:relative;#}
{#            height:75%;#}
{#            width:75%;#}
{#            margin:auto;#}
{#        }#}
{#        #carrousel ul li{#}
{#            position:absolute;#}
{#            top:0;#}
{#            left:0;#}
{#        }#}

{#    </style>#}
{#    <div class="container">#}
{#    Page de tutoriel#}

{#        <div id="carrousel" class="">#}
{#            <ul>#}
{#                <li><img src="{{ asset("img/enfant.jpg") }}" /></li>#}
{#                <li><img src="{{ asset("img/logo.jpg") }}" /></li>#}
{#                <li><img src="{{ asset("img/menu.png") }}" /></li>#}
{#            </ul>#}
{#        </div>#}


{#    </div>#}


{#    <script>#}

{#        $(document).ready(function(){#}

{#            var $carrousel = $('#carrousel'), // on cible le bloc du carrousel#}
{#                $img = $('#carrousel img'), // on cible les images contenues dans le carrousel#}
{#                indexImg = $img.length - 1, // on définit l'index du dernier élément#}
{#                i = 0, // on initialise un compteur#}
{#                $currentImg = $img.eq(i); // enfin, on cible l'image courante, qui possède l'index i (0 pour l'instant)#}

{#            $img.css('display', 'none'); // on cache les images#}
{#            $currentImg.css('display', 'block'); // on affiche seulement l'image courante#}

{#            $carrousel.append('<div class="controls"> <span class="prev">Precedent</span> <span class="next">Suivant</span> </div>');#}

{#            $('.next').click(function(){ // image suivante#}

{#                i++; // on incrémente le compteur#}

{#                if( i <= indexImg ){#}
{#                    $img.css('display', 'none'); // on cache les images#}
{#                    $img.css('transition', 'visibility 0s, opacity 0.5s linear');#}
{#                    $currentImg = $img.eq(i); // on définit la nouvelle image#}
{#                    $currentImg.css('display', 'block'); // puis on l'affiche#}
{#                }#}
{#                else{#}
{#                    i = indexImg;#}
{#                }#}

{#            });#}

{#            $('.prev').click(function(){ // image précédente#}

{#                i--; // on décrémente le compteur, puis on réalise la même chose que pour la fonction "suivante"#}

{#                if( i >= 0 ){#}
{#                    $img.css('display', 'none');#}
{#                    $currentImg = $img.eq(i);#}
{#                    $currentImg.css('display', 'block');#}
{#                }#}
{#                else{#}
{#                    i = 0;#}
{#                }#}

{#            });#}

{#            function slideImg(){#}
{#                setTimeout(function(){ // on utilise une fonction anonyme#}

{#                    if(i < indexImg){ // si le compteur est inférieur au dernier index#}
{#                        i++; // on l'incrémente#}
{#                    }#}
{#                    else{ // sinon, on le remet à 0 (première image)#}
{#                        i = 0;#}
{#                    }#}

{#                    $img.css('display', 'none');#}

{#                    $currentImg = $img.eq(i);#}
{#                    $currentImg.css('display', 'block');#}

{#                    slideImg(); // on oublie pas de relancer la fonction à la fin#}

{#                }, 7000); // on définit l'intervalle à 7000 millisecondes (7s)#}
{#            }#}

{#            slideImg(); // enfin, on lance la fonction une première fois#}

{#        });#}


{#    </script>#}