{% extends 'base.html.twig' %}
{% block title %}Mon compte | Mes infos{% endblock %}
{% block body %}
    <h4 style="text-align:center;">Information utilisateur</h4>
    <div class="container">
    {{ form_start(userForm, {'action': path('change_password', {'user_id': app.user.id })}) }}

    {{ form_label(userForm.email) }}
    {{ form_widget(userForm.email) }}

    {{ form_label(userForm.picture, "Photo de profil") }}
    {{ form_widget(userForm.picture) }}

    <label class="col-form-label col-sm-2">Mot de passe</label>
    <input type="password" name="password" class="form-control">
    <button type="submit" class="btn btn-primary form-control" style="margin-top: 20px;">Modifier</button>
    {{ form_end(userForm) }}


    <a href="{{ path("change_password", {'user_id': app.user.id}) }}">Modifier le mot de passe</a>


{% endblock body %}