<h3>Votre demande d'accès Administrateur a été refusé</h3>

<p>Bonjour {{ user.username }} !</p>
<p>Votre demande accès avec les privilèges administrateur a été refusé, cependant vous pouvez toujours vous connecter en tant qu'utilisateur !</p>

<p>Merci!</p>

<img src="{{ asset('img/logo.jpg') }}">