<h3>Votre demande d'accès Administrateur a été acceptée !</h3>

<p>Bonjour {{ user.username }} !</p>
<p>Vous êtes maintenant administrateur !</p>

<p>Merci!</p>

<img src="{{ asset('img/logo.jpg') }}">