<h3>Vous avez fait une demande de rdv avec un conseiller CA !</h3>

<p>Bonjour {{ appointment.firstname }}!</p>
<p>Votre demande de rendez vous en date du {{ appointment.date|date("d/m/Y") }} a bien été prise en compte.
    Un conseiller vous recontactera une fois votre demande traitée.</p>

<p>Merci!</p>

<img src="{{ asset('img/logo.jpg') }}">