<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {#        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">#}
        {#        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">#}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon_min.png') }}">
        <link rel="manifest" href="{{ asset('manifest.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

</head>
<body>
{% if app.user %}
    <div class="logout-icon">
        <i class="fa fa-power-off fa-3x" aria-hidden="true"></i>
    </div>
    <div class="question-icon">
        <a href="{{ path("user_edit",{ 'user_id': app.user.id }) }}" style=""><i class="fa fa-question fa-3x" aria-hidden="true"></i></a>
    </div>
    <nav id="slide-menu">
        <ul>
            <li class="timeline">
                <a href="{{ path('my_space') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Mon Espace</span>
                </a>
            </li>

            <li class="events">
                <a href="{{ path('article_create') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Créer un article</span>
                </a>
            </li>

            <li class="sep settings">
                <a href="{{ path('my_space') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Virement</span>
                </a>
            </li>
            <li class="sep settings">
                <a href="{{ path('my_space') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li class="logout">
                <a href="/logout">
                    <i class="fas fa-user-plus"></i>
                    <span>Deconnexion</span>
                </a>
            </li>
        </ul>
    </nav>
{% else %}

    <nav id="slide-menu-2">
        <ul>
            <li class="timeline">
                <a href="{{ path('security_login') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Se Connecter</span>
                </a>
            </li>

            <li class="events">
                <a href="{{ path('my_space') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Renseignement</span>
                </a>
            </li>
            <li class="sep settings">
                <a href="{{ path('my_space') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Connexion</span>
                </a>
            </li>
            <li class="logout">
                <a href="{{ path('my_space') }}">
                    <i class="fas fa-user-plus"></i>
                    <span>Inscription</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}



{% block body %}

{% endblock %}
<div id="nav-mobile">
    <div class='has-slider'>
        <div class='slider' id='slider'>
            <div class="slider-panel number1">
                <ul>
                    {% if app.user %}
                        <a href="{{ path('my_space') }}"><li><i class="fa fa-tachometer" aria-hidden="true"></i></li></a>
                        <a href="{{ path('my_space') }}"><li><i class="fa fa-money" aria-hidden="true"></i></li></a>
                        <a href="{{ path('feed') }}"><li><i class="fa fa-bell" aria-hidden="true"></i></li></a>
                        <a href="{{ path('my_space') }}"><li><i class="fa fa-user" aria-hidden="true"></i></li></a>
                    {% else %}
                        <a href="{{ path('my_space') }}"><li><i class="fa fa-user" aria-hidden="true"></i></li></a>
                    {% endif %}
                </ul>
            </div>
            <div class="slider-panel number1">
                <ul>
                    {#                    {% if session.User %}#}
                    {#                        <a href="/mon-compte/boite-de-reception"><li><i class="fas fa-mail-bulk"></i></li></a>#}
                    {#                        <a href="/deconnexion"><li><i class="fas fa-sign-in-alt"></i></li></a>#}
                    {#                    {% else %}#}
                    <a href="/inscription"><li><i class="fas fa-user-plus"></i></li></a>
                    {#                    {% endif %}#}
                </ul>
            </div>
        </div>
        <div class='slider-pagination'></div>
    </div>

    <div class="menu-slide-big">
        <img src="{{ asset('img/menu.png') }}" alt="" title="">
    </div>
</div>
{% block javascripts %}  {% endblock %}
<script>
    $('.logout-icon').click(function(){
        console.log(window.location);
        sessionStorage.clear();
        window.location = window.location.origin+'/logout';
    });
</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type="text/javascript" src="{{ asset('js/hammer.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/swipe-menu.js') }}"></script>
</body>
</html>
